@model aspnet_mvc_real_estate.Models.ApplicationUser
@{
    ViewBag.Title = "Chỉnh sửa người dùng";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div class="admin-form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="admin-form-item">
            <div class="admin-form-label">
                <label class="form-control-label">Địa chỉ Email</label>
            </div>
            <div class="form-group admin-form-input">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "user-input" , @readonly = "readonly" } })
                <p class="error-mes">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</p>
            </div>
        </div>

        <div class="admin-form-item">
            <div class="admin-form-label">
                <label class="form-control-label">Họ tên</label>
            </div>
            <div class="form-group admin-form-input">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "user-input" } })
                <p class="error-mes">@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })</p>
            </div>
        </div>

        <div class="admin-form-item">
            <div class="admin-form-label">
                <label class="form-control-label">Số điện thoại</label>
            </div>
            <div class="form-group admin-form-input">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "user-input" } })
                <p class="error-mes">@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })</p>
            </div>
        </div>

        <div class="admin-form-item">
            <div class="admin-form-label">
                <label class="form-control-label">Địa chỉ</label>
            </div>
            <div class="form-group admin-form-input">
                @Html.TextAreaFor(model => model.Address, new { @class = "user-input i-address", rows = "5" })
                <p class="error-mes">@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })</p>
            </div>
        </div>

        <div class="admin-form-item">
            <div class="admin-form-label">
                <label class="form-control-label">Giới tính</label>
                <span class="radio-form">
                    <label class="radio-inline">
                        <input type="radio" name="Gender" id="Gender" value="false" checked>Nam
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Gender" id="Gender" value="true">Nữ
                    </label>
                </span>
            </div>
        </div>

        <div class="admin-form-item mt-25">
            <label class="form-control-label">Quyền Admin</label>
            <div class="form-group">
                @Html.EditorFor(model => model.isAdmin, new { htmlAttributes = new { @class = "form-checkbox" } })
            </div>
        </div>
        <div class="text-danger">@ViewBag.Error</div>
        <div class="admin-form-submit">
            <input type="submit" value="Chỉnh sửa người dùng" class="btn btn-primary" />  @Html.ActionLink("Quay lại", "Index", "User", new { @class = "btn btn-primary btn-outline" })
        </div>
    </div>
}

