
@{
    ViewBag.Title = "Xác nhận OTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-login"></div>
<div class="section-login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel">
                    <div class="panel-heading p-25">
                        <h3 class="panel-title text-center"><a href="@Url.Action("Index", "Home")"><img src="https://bizweb.dktcdn.net/100/328/362/themes/894751/assets/logo.png?1676257083798" /></a></h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("VeryfiForgotPassword", "User", FormMethod.Post, new { @class = "form-login", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="input-login-field">
                                <i class="fa-solid fa-code"></i>
                                @Html.TextBox("veryfiCode", null, htmlAttributes: new { @class = "input-login", placeholder = "Mã OTP" })
                            </div>
                            <p class="text-danger">@ViewBag.Message</p>
                            <div class="form-group">
                                <button class="btn btn-login">Xác nhận</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

