@model aspnet_mvc_real_estate.Models.product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.products_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.products_slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products_slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desciption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desciption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collection.collections_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collection.collections_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
