@model aspnet_mvc_real_estate.Models.contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isSeen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isSeen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contact_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
